#{extends 'main.html' /}
<h1>Search series and display episodes by IMDB-series-id / TheTvDb.com Id</h1>
<hr class="soften">
<div class="row">
    <div class="span4">
        <h3>Supporting Multiple Formats</h3>
        <ul>
            <li>JSON</li>
            <li>JSONP</li>
            <li>XML</li>
        </ul>
    </div>
    <div class="span4">
        <h3>Built On Reliable Technology</h3>
        <ul>
            <li><a href="http://www.playframework.org/">Play framework 1.2.4</a></li>
            <li><a href="http://jsoup.org/">jsoup: Java HTML Parser</a></li>
        </ul>
    </div>
    <div class="span4">
        <h3>Running On A Reliable Platform</h3>
        <ul>
            <li><a href="http://openshift.redhat.com">OPENSHIFT - PaaS by Red Head Cloud</a></li>
        </ul>
    </div>
</div>
<hr class="soften">
<div class="row">
    <div class="span6">
        <h3>Search For TV-Series</h3>
        <p>
            <code>
                http://series-ortiz.rhcloud.com/series?name=dexter        
            </code>
        </p>
        A search returns series information and a <i>IMDB-id</i> encapsulated by the <code>id</code> property or xml tag.
    </div>
</div>
<hr class="soften">
<div class="row">
    <div class="span6">
        <h3>How To Work With The Search Result</h3>
        Use the id to get additional tv-series information and seasons/episodes. The above query for the tv-series 
        dexter returns the <i>IMDB-id</i> "<strong>tt0773262</strong>"
        <div class="alert alert-info"><strong>Note</strong> Search results won't be cached and therefore searching can be slower than retrieving a tv-series directly by id</div>
        <p>Now use the <i>IMDB-id</i> to get the storyline and the number of seasons:</p>
        <p>
            <code>
                http://series-ortiz.rhcloud.com/series/tt0773262/info
            </code>
        </p>
        <p>
            Or to get the episodes of a season:
        </p>
        <p>
            <code>
                http://series-ortiz.rhcloud.com/series/tt0773262/season/1
            </code>
        </p>
        <p>
            Or even get all episodes of the tv-series:
        </p>
        <p>
            <code>
                http://series-ortiz.rhcloud.com/series/tt0773262
            </code>

        </p>
        <div class="alert alert-error">
            <strong>Unstable</strong> Dependig on the number of seasons full series requests may take a bit to long. Openshift in connection with Play! seems to return a "502 Proxy Error"
            if requests takes longer than ~30 seconds.
            Try using the "<i>series-id</i>/season/<i>number</i>" URL instead
        </div>
    </div>
    <div class="span6">
        <h3>Caching</h3>
        TV-Series information will be cached after a request for a day. The most popular tv-series will be cached on a daily basis.
        <h3>Data Formats</h3>
        <p>
            Every request returns JSON data by default, if you want to see the result in XML format, just add a <code>.xml</code>
            before the query string, as follows:
        </p>
        <p>
            <code>
                http://series-ortiz.rhcloud.com/series.xml?name=dexter       
            </code>
        </p>
        <p>
            If you want to use the resulting data over JSONP just add a "callback" parameter to the query string:
        </p>
        <p>
            <code>
                http://series-ortiz.rhcloud.com/series?name=dexter&callback=func
            </code>
        </P>
        <p>In this case <i>func</i> is the callback function.</p>
    </div>

</div>

<hr class="soften"/>

<h1>TheTVDB.com Wrapper&nbsp;<span class="label label-info">New!</span></h1>
The <i>IMDB Series API</i> does now support querying for <i>TheTVDB.com</i> entries. You only have to append <code>s=thetvdb</code> to the query string, to specify the service.
<p>Example:
<code>http://series-ortiz.rhcloud.com/series?name=dexter&callback=func&s=thetvdb</code>
</p>